body{
  color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border-style: dotted;
  border-color:grey;
  border-width: 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}

.intro{
  width: 30%;
  margin: auto;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px ;
}

.copyright-msg{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.skill-row{
  width: 50%;
  margin: 180px auto 180px auto;
  text-align: left;
  line-height: 2;
}
.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
  }



.middle-container{
  background-color: #EAF6F6;
  margin: 100px 0;
  
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 30px;
  padding: 50px 0px 20px 0px;
}

.bottom-cloud{
  height: 170px;
  width: 230px;
  position: absolute;
  left: 200px;
  bottom: 350px;
}
.top-cloud{
  height: 170px;
  width: 230px;
  position: absolute;
  right: 200px;
  top: 25px;
  
  
}
.mountain{
mix-blend-mode: multiply;
height: 400px;
width: 500px;

 
 
}
.skill-gif{
  height: 200px; 
  width: 200px;
  border-radius: 100px;
  float: left;
  margin-right: 30px;
}
.noodles-img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  float: right;
  margin-left: 30px;
}
.profile-pic{
  height: 180px;
  width: 180px;
  border-radius: 90px;
}
.python-gif{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  float: right;
  margin-left: 30px;
}
.camera-icon{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  float: left;
  margin-right: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat', sans-serif ;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}